<div class="container">
  <div class="form-group">
   <h4>Email Id:</h4> <input class="form-control" type="text" [(ngModel)]="email_id">
  </div>
  <div class="form-group">
    <h4>Mobile No:</h4> <input class="form-control" type="text" [(ngModel)]="mobile">
   </div>
   

  <div class="form-group" *ngIf="flag">
      <h4>Password:</h4> <input class="form-control" type="text" [(ngModel)]="password">
  </div>

  <h5>* Please enter Email-Id and Mobile no to get password</h5>
  <div class="form-group">
    
      <div class="form-group">
          <button (click)="onclickok()" style="width: 20%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: cornflowerblue;font-size: 20px;">Ok!</button>
          <button (click)="onclickCancel()" style="width: 20%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: whitesmoke;font-size: 20px;">Back</button>
        </div>

  </div>
</div>